:root {
    --headercolor: #C5DCA5;
    --backgroundgreen: #CAC890;
    --headingred: #5F1A0F;
    --textred: #890B35;
}

* {
    margin: 0;
    padding: 0;
    background: var(--backgroundgreen);
}
header{
    background: var(--headercolor);
    padding-bottom: 5%;
    position:sticky;
}

.header-background{
    background: var(--headercolor);
}
/*allows the extra long image to disappear later on*/
.disappear {
    background: var(--headercolor);
}
/*These control the list items in the header/nav */
nav {
    display: inline;
}

nav ul {
    list-style: none;
    float: right;
    display: inline;
    margin-top: 2%;
    margin-right: 15%;
    width: 55%;
    word-wrap: break-word;
    background: var(--headercolor);
}

nav li {
    display: inline;
    padding-left: 15%;
    color: var(--textred);
    background: var(--headercolor);
}
nav a {
    text-decoration: none;
    color: var(--headingred);
    background:var(--headercolor);
    transition: all 0.5s ease-in-out;
    padding: 10px;
}
/*hover effect for the items in the nav*/
nav a:hover {
    box-shadow: inset 5px 5px 18px 3px #7F88D5;
    border-radius: 5px;
}
header h1 {
    font-size: 34px;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    color: var(--textred);
    font-family: 'Montserrat Subrayada', sans-serif;
    background-image: linear-gradient(90deg, #DAFDAC, #C5DCA5);
    transition: all 0.5s ease-in-out;
    border-radius: 10px 0px 0px 10px;
}
/*hover effect on the name in the header*/
header h1:hover {
    box-shadow: inset 0px 0px 30px greenyellow;
    box-shadow: 0px 0px 30px rgb(0, 128, 21);
}

/*This changes the background colour of the page*/
main {
    position: relative;
    background: var(--backgroundgreen);
    display: flex;
    flex-wrap: wrap;
    height: 1783px;
}
/*This effects the forest image (or hero) at the top of the page*/
#hero-div {
    position: relative;
    height: 580px;
    width: 100%;
    background-image: url("./images/trees-hero.jpg")
}
/*controls the image of me in the hero*/
#hero-div img {
    height: 350px;
    width: auto;
}

aside {
    position: relative;
    width:100%;
    height:100%;
    background:var(--backgroundgreen);
    display: flex;
}
aside ul {
    display: flex;
    list-style: none;
    width:100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 65px;
    text-align: center;
    text-decoration: underline;
    color: #5F1A0F;
    align-content: space-between;
    flex-wrap: wrap;
}
aside li {
    position: relative;
    width:100%;
}
/* these place the spacing between the list elements within the aside*/
aside li:nth-child(1) {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 2;
    text-decoration: underline;
}

aside li:nth-child(2){
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 2;
    text-decoration: underline;
}

aside li:nth-child(3) {
    position: absolute;
    bottom:17%;
    right: 5%;
    z-index: 2;
    text-decoration: underline;
}

aside li:nth-child(4) {
    position: absolute;
    bottom: 2%;
    margin-right: 5%;
    width:80%;
    z-index: 2;
    text-decoration: underline;
}

/*These change the width of the left and right columns*/
#left-col {
    width:25%;
    height: 100%;
}
#right-col {
    width: 75%;
}
/*changes the colour of the about-me section*/
#about-me {
    background: var(--backgroundgreen);
    width:100%;
    padding-right: 4%;
    padding-bottom: 5%;
    padding-top: 2%;
}

#about-me h3, h4, p {
    padding-left: 4%;
    padding-top: 2%;
}

#about-me h3{
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
    color: #5F1A0F;
}

#about-me h4{
    font-family: 'Poor Story', cursive;
    font-size: 22px;
}

#about-me p {
    font-family: serif;
    font-size: 18px;
}

/*changes the colour of the work section*/
#work {
    background:var(--headercolor);
    width:100%;
}
/*container for the cards in the work section*/
.work-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
    background:var(--headercolor);
}
.work-container a{
    background:var(--headercolor);
    border-radius: 15px;
    margin-bottom: 3%;
    color: blue;
}
.work-container a img {
    border-radius: 15px;
    background:var(--headercolor);
}


/*sets the sizing for the extra long image(part of technical acceptance criteria)*/
.work-card-xlong img {
    width: 1000px;
    height:250px;
}
/*sets the sizing for the long image*/
.work-card-long img {
    width: 700px;
    height:220px;
}
/*sets the sizing for the short image*/
.work-card-short img {
    width: 400px;
    height:220px;
}
/*This is where the extra long image will reappear when activated by a media query*/
.appear {
    display: none;
}
/*Adds the titles for the various work cards*/
.appear::before,
.work-card-xlong::before,
.work-card-long::before,
.work-card-short::before{
    position: absolute;
    content: attr(caption);
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 22px;
}
/*adds the hover effects on the work cards*/
.appear:hover,
.work-card-xlong:hover,
.work-card-long:hover,
.work-card-short:hover{
    box-shadow: inset 0px 0px 30px white;
    box-shadow: 0px 0px 30px greenyellow;
}

.work-card-xlong a {
    color: blue;
}

#resume {
    width:100%;
    display: flex;
}
/*changes the colour of the resume area of the right column*/
#resume div {
    background: var(--backgroundgreen);
}
/*sets the sizing of the two columns in the resume section*/
.resume-left-column {
    width:50%;
}
.resume-right-column {
    width:50%;
}
.resume-left-column h3,
.resume-right-column h3{
    width:50%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    font-family: 'Playfair Display SC', serif;
    font-size: 22px;
    color: #5F1A0F;
}
.resume-left-column ul,
.resume-right-column ul{
    list-style: circle;
    padding-left: 6%;
}
.resume-left-column li,
.resume-right-column li{
    font-family: serif;
    padding-bottom: 4%;
    padding-left: 3%;
}    
/*changes the colour of the area of the contact me footer in the right column*/
#contact-me {
    display:flex;
    padding-top: 3%;
    padding-bottom: 3%;
    background: var(--headercolor);
    width: 100%;
}
footer {
    background: var(--backgroundgreen);
    width: 100%;
}
/*styles the layout and links in the footer*/
footer ul {
    display: inline;
    width:100%;
    padding-left: 5px;
    background: var(--headercolor);
}
footer ul li {
    float: right;
    padding-right: 10%;
    background: var(--headercolor);
    font-family: 'Poor Story', cursive;
    font-size: 28px;
}
footer a {
    text-decoration: none;
    color: #990F48;
    background: var(--headercolor);
}
/*hides the headings until activated by media query and styles them*/
.hidden-heading {
    display: none;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 70px;
    text-decoration: underline;
    color: #5F1A0F;
}